In [34]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [35]:
url = 'https://stockanalysis.com/stocks/tm/revenue/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [36]:
soup.find_all('svelte-1yyv6eq')

[]

In [37]:
table0 = soup.find_all('table')[0]

In [38]:
dt0_titles = table0.find_all('th')

In [39]:
dt0_titles

[<th class="cursor-pointer svelte-1yyv6eq">Fiscal Year End </th>,
 <th class="cursor-pointer tr svelte-1yyv6eq">Revenue </th>,
 <th class="cursor-pointer tr tr svelte-1yyv6eq">Change </th>,
 <th class="cursor-pointer svelte-1yyv6eq">Growth </th>]

In [40]:
t0_titles = [title.text.strip() for title in dt0_titles]
print(t0_titles)

['Fiscal Year End', 'Revenue', 'Change', 'Growth']

In [41]:
df0 = pd.DataFrame(columns = t0_titles)
df0

Empty DataFrame
Columns: [Fiscal Year End, Revenue, Change, Growth]
Index: []

In [42]:
col_data0 = table0.find_all('tr')

In [43]:
for row in col_data0[1:]:
    row_data = row.find_all('td')
    ind_row_data = [data.text.strip() for data in row_data]

    length = len(df0)
    df0.loc[length] = ind_row_data

In [44]:
df0

   Fiscal Year End  Revenue   Change   Growth
0     Mar 31, 2023  280.62B   23.20B    9.01%
1     Mar 31, 2022  257.42B    7.52B    3.01%
2     Mar 31, 2021  249.90B  -26.89B   -9.72%
3     Mar 31, 2020  276.80B    2.02B    0.73%
4     Mar 31, 2019  274.78B   17.74B    6.90%
5     Mar 31, 2018  257.04B    7.97B    3.20%
6     Mar 31, 2017  249.07B   -3.86B   -1.53%
7     Mar 31, 2016  252.93B   25.81B   11.36%
8     Mar 31, 2015  227.12B  -22.59B   -9.05%
9     Mar 31, 2014  249.72B   15.49B    6.61%
10    Mar 31, 2013  234.23B   10.23B    4.57%
11    Mar 31, 2012  224.00B   -5.14B   -2.25%
12    Mar 31, 2011  229.14B   26.33B   12.98%
13    Mar 31, 2010  202.81B   -5.82B   -2.79%
14    Mar 31, 2009  208.63B  -55.01B  -20.87%
15    Mar 31, 2008  263.64B   60.64B   29.87%
16    Mar 31, 2007  203.00B   24.18B   13.52%
17    Mar 31, 2006  178.83B    5.52B    3.19%
18    Mar 31, 2005  173.30B    7.23B    4.35%
19    Mar 31, 2004  166.08B   34.97B   26.68%
20    Mar 31, 2003  131.10B   24.02B   22.43%
21    Mar 31, 2002  107.08B    3.80B    3.67%
22    Mar 31, 2001  103.29B        -        -

In [45]:
df0['Fiscal Year End'] = pd.to_datetime(df0['Fiscal Year End'], format='%b %d, %Y')
df0['Year'] = df0['Fiscal Year End'].dt.year

In [46]:
df0

   Fiscal Year End  Revenue   Change   Growth  Year
0       2023-03-31  280.62B   23.20B    9.01%  2023
1       2022-03-31  257.42B    7.52B    3.01%  2022
2       2021-03-31  249.90B  -26.89B   -9.72%  2021
3       2020-03-31  276.80B    2.02B    0.73%  2020
4       2019-03-31  274.78B   17.74B    6.90%  2019
5       2018-03-31  257.04B    7.97B    3.20%  2018
6       2017-03-31  249.07B   -3.86B   -1.53%  2017
7       2016-03-31  252.93B   25.81B   11.36%  2016
8       2015-03-31  227.12B  -22.59B   -9.05%  2015
9       2014-03-31  249.72B   15.49B    6.61%  2014
10      2013-03-31  234.23B   10.23B    4.57%  2013
11      2012-03-31  224.00B   -5.14B   -2.25%  2012
12      2011-03-31  229.14B   26.33B   12.98%  2011
13      2010-03-31  202.81B   -5.82B   -2.79%  2010
14      2009-03-31  208.63B  -55.01B  -20.87%  2009
15      2008-03-31  263.64B   60.64B   29.87%  2008
16      2007-03-31  203.00B   24.18B   13.52%  2007
17      2006-03-31  178.83B    5.52B    3.19%  2006
18      2005-03-31  173.30B    7.23B    4.35%  2005
19      2004-03-31  166.08B   34.97B   26.68%  2004
20      2003-03-31  131.10B   24.02B   22.43%  2003
21      2002-03-31  107.08B    3.80B    3.67%  2002
22      2001-03-31  103.29B        -        -  2001

In [47]:
df0['Revenue'] = df0['Revenue'].str.replace('B', '')
df0['Revenue'] = pd.to_numeric(df0['Revenue'])

In [48]:
df0['Change'] = df0['Change'].str.replace('B', '')
df0['Change'] = pd.to_numeric(df0['Change'], errors='ignore')

In [49]:
print(df0.dtypes)

Fiscal Year End    datetime64[ns]
Revenue                   float64
Change                     object
Growth                     object
Year                        int32
dtype: object

In [50]:
df0

   Fiscal Year End  Revenue  Change   Growth  Year
0       2023-03-31   280.62   23.20    9.01%  2023
1       2022-03-31   257.42    7.52    3.01%  2022
2       2021-03-31   249.90  -26.89   -9.72%  2021
3       2020-03-31   276.80    2.02    0.73%  2020
4       2019-03-31   274.78   17.74    6.90%  2019
5       2018-03-31   257.04    7.97    3.20%  2018
6       2017-03-31   249.07   -3.86   -1.53%  2017
7       2016-03-31   252.93   25.81   11.36%  2016
8       2015-03-31   227.12  -22.59   -9.05%  2015
9       2014-03-31   249.72   15.49    6.61%  2014
10      2013-03-31   234.23   10.23    4.57%  2013
11      2012-03-31   224.00   -5.14   -2.25%  2012
12      2011-03-31   229.14   26.33   12.98%  2011
13      2010-03-31   202.81   -5.82   -2.79%  2010
14      2009-03-31   208.63  -55.01  -20.87%  2009
15      2008-03-31   263.64   60.64   29.87%  2008
16      2007-03-31   203.00   24.18   13.52%  2007
17      2006-03-31   178.83    5.52    3.19%  2006
18      2005-03-31   173.30    7.23    4.35%  2005
19      2004-03-31   166.08   34.97   26.68%  2004
20      2003-03-31   131.10   24.02   22.43%  2003
21      2002-03-31   107.08    3.80    3.67%  2002
22      2001-03-31   103.29       -        -  2001

In [51]:
df0.to_excel(r'C:\Users\juven\Documents\Toyota_Rev_Overtheyears.xlsx', index=False)